<jw-modal id="custom-modal-2" style="text-align: center">
  {{errors}}
  <button
    class="btn"
    (keydown.space)="$event.preventDefault();"
    (keyup.enter)="closeModal('custom-modal-2')"
    style="height: 60px"
    (click)="closeModal('custom-modal-2')">
    Close
  </button>
</jw-modal>

<form class="form-box" [formGroup]="loginForm" (ngSubmit)="login()">

  <div class="title">Log in</div>


  <input type="email" placeholder="Email" class="input-field" formControlName="email">


  <input type="password" placeholder="Password" class="input-field" formControlName="password">


  <button class="btn" type="submit" [disabled]="!loginForm.valid"><span>Login</span></button>


</form>


