<jw-modal id="custom-modal-2" style="text-align: center">

  <ng-container *ngFor="let error of errors">
    <p>{{error}}</p>

  </ng-container>
  <button
    class="btn"
    (keydown.space)="$event.preventDefault();"
    (keyup.enter)="closeModal('custom-modal-2')"
    style="height: 60px"
    (click)="closeModal('custom-modal-2')">
    Close
  </button>
</jw-modal>

<jw-modal id="register-successful" style="text-align: center">
  <h1>"Registration was successful"</h1>
  <button
    class="btn"
    (keydown.space)="$event.preventDefault();"
    (keyup.enter)="closeModal('custom-modal-2')"
    style="height: 60px"
    (click)="closeModal('custom-modal-2')">
    Close
  </button>
</jw-modal>

<form class="form-box" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="title">Hi!</div>

  <div class="subtitle">Create your account</div>

  <input type="name" style="display:none">
  <input type="name" placeholder="Name" class="input-field" formControlName="name"/>

  <input type="email" style="display:none">
  <input type="email" placeholder="Email" class="input-field" formControlName="email"/>

  <input type="password" style="display:none">
  <input type="password" placeholder="Password" class="input-field" formControlName="password"/>

  <button class="btn" type="submit" [disabled]="!registerForm.valid"><span>Register</span></button>

</form>
