
.title-box {
  font-size: xxx-large;
  width: 100%;
  border-color: black;
  border-radius: 1px;
  border-style: solid;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.button-box {
  font-size: xxx-large;
  text-align: center;
  align-self: center;
  justify-self: center;
}
