p {
  margin-right: 10px;
  font-size: large;
  font-weight: bolder;
  position: relative;
  display: inline-block;
}

.text-box {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px;
  background-color: #ecf0f1;
  align-self: center;
  justify-self: center;
}

.stats-box {

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;


}

.stat {
  width: 100%;
  text-align: center;
}

:host {
  display: contents;
}


form {
  display: grid;
  font-size: xxx-large;
  align-self: center;
  justify-self: center;
}

input {
  align-self: center;
  justify-self: center;
  width: 50%;
  font-size: xxx-large;
  border-radius: 8px;
  text-decoration: white;
}

.green-text {
  color: forestgreen;
}

.red-text {
  color: darkred;
}

.current-word{
  color: orange;
}




