<jw-modal id="custom-modal-2" style="text-align: center">
  <p>Congratulations!</p>
  <br>
  <br>
  <p>Your score is</p>
  <h1>WPM : {{lastScore}}</h1>
  <button class="btn" style="height: 60px" (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>

<div class="text-box">
  <ng-container *ngFor="let word of words;let i=index; let f=first">
    <p id="{{i}}" [ngClass]="{'current-word': f}" >{{word}}</p>
  </ng-container>
</div>
<div class="button-box">
  <div style="height: 40px">
    <h2 *ngIf="!timerService.timerSet" style="text-align: center">Start typing...</h2>
  </div>

</div>

<div class="input-box">
    <form #myForm="ngForm">
      <input name="current" (keyup)="onKey($event)" [(ngModel)]="currentTypedWord" [value]="currentTypedWord"/>
    </form>
  </div>
  {{points}}
<hr>
{{timerService.subscribeTimer}} Seconds Left....
<hr>
{{score}} WPM



