html, body {
  font-family: 'Courier New', monospace;
  height:auto;
  min-height: 100vh;
  padding: 0;
  display: grid;
  row-gap: 50px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

  width: 100%;
  align-content: center;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .title-box {
    width: 100% !important;
  }
}
@media screen and (max-width: 216px) {
  html, body {
    row-gap: 0 !important;
  }
}
::ng-deep * {
  margin: 0;
  padding: 0;
}
.title-box {
  font-size: xxx-large;
  margin: auto;
  width: 50%;
  border-color: black;
  border-radius: 1px;
  border-style: solid;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color: white;
  text-align: center;
  align-self: center;
  justify-self: center;
}


